<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        ReadComicOnline - Read comics online in high quality
    </title>

    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div id="head">
        <h3>
            
<div style="position: relative; text-align: right; margin: -40px 46px 20px 0px; font: bold 13px Arial;">

<div id="topHolderBox" style="width: 230px; height: 30px;">
    <img src="/Content/images/user-small.png" style="vertical-align: middle; margin-bottom: 5px">
    Please <a class="red" href="/Login">login</a>
    or <a class="red" href="/Register">register</a>
</div>

</div>

            <div id="search" style="position: relative">
                <form id="formSearch" method="post">
                <p>
                    <input style="width: 250px" id="keyword" name="keyword" value="" class="text" autocomplete="off" />
                    <input id="imgSearch" type="image" src="https://readcomiconline.to/Content/images/search.png"
                        class="button" onclick="return false;" />
                </p>
                <div id="result_box" style="display: none; left: 57px; margin-top: -3px">
                </div>
                <div style="float: left; width: 240px; text-align: left; margin-left: 58px;">
                    <div style="float: left; width: 90px">
                        <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Freadcomiconline&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;action=like&amp;colorscheme=dark&amp;font&amp;height=21"
                            scrolling="no" frameborder="0" style="border: none; overflow: hidden; width: 100px;
                            height: 21px;" allowtransparency="true"></iframe>
                    </div>
                    <div style="float: left; width: 65px">
                        <a href="https://twitter.com/ReadComicOnline" class="twitter-follow-button" data-show-screen-name="false" data-lang="en" data-show-count="false">&nbsp;</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </div>
                <div style="margin: 10px 48px 10px 0">
                    <a href="https://readcomiconline.to/AdvanceSearch">
                        <img src="https://readcomiconline.to/Content/images/read.png"
                            width="16px" border="0" style="vertical-align: middle" />&nbsp;&nbsp;Adv Search</a>
                </div>
                </form>
            </div>
            <script type="text/javascript">
                $('#imgSearch').click(function () {
                    Submit();
                });

                var delay = (function () {
                    var timer = 0;
                    return function (callback, ms) {
                        clearTimeout(timer);
                        timer = setTimeout(callback, ms);
                    };
                })();

                $('#keyword').keyup(function () {
                    delay(function () {
                        Suggest();
                    }, 1500);
                });

                $('#selectSearch').change(function () {
                    Suggest();
                });

                $("#selectSearch option").each(function () {
                    var url = location.href;
                    if (url.indexOf($(this).attr('value')) != -1)
                        $(this).attr("selected", "selected");
                });

                function Submit() {
                    if ($.trim($('#keyword').val()).length < 2) {
                        $('#keyword').blur();
                        alert('Keyword must be more than one character!');
                    }
                    else {
                        $("#formSearch").attr('action', "/Search/Comic");
                        $("#formSearch").submit();
                    }
                }


                function Suggest() {
                    var keyword = $.trim($('#keyword').val());
                    if (keyword.length < 5) return;
                    if (keyword != "") {
                        $('#result_box').html("<span id='loader'></span>");
                        $('#result_box').css('display', 'block');
                        
                        $.ajax(
                        {
                            type: "POST",
                            url: "/Search/SearchSuggest",
                            data: "type=Comic" + '&keyword=' + encodeURIComponent(keyword),
                            success: function (message) {
                                if (message != "") {
                                    $('#result_box').html(message);
                                }
                                else {
                                    //$('#result_box').html('');
                                    //$('#result_box').css('display', 'none');
                                    $('#result_box').html('<a href="#" onclick="return false;">Press Enter to search...</a>');
                                }
                            }
                        });
                    }
                    else {
                        $('#result_box').html('');
                        $('#result_box').css('display', 'none');
                    }
                }

                $(document).click(function (e) {
                    var container = $("#search");                        
                    if (container.has(e.target).length == 0) {
                        $("#result_box").hide();
                    }
                });
            </script>
        </h3>
        <h1>
            <a href="/" title="ReadComicOnline - High quality comic online"
                class="logo">ReadComicOnline.to</a></h1>
    </div>
</body>
</html>