<!DOCTYPE html>
<html>
<head>
  <title>
    Over the Garden Wall: Circus Friends
    comic | Read
    Over the Garden Wall: Circus Friends
    comic online in high quality
  </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!-- CSS -->
  <link href="/css/wishes.css" rel="stylesheet" type="text/css" />
  <link rel="shortcut icon" href="/images/wishes/favicon.ico" type="image/x-icon" /> 
</head>
<body>
    
    <script data-cfasync="false" async type="text/javascript" src="//tadsitblimp.com/fF6hNm2Q5Eq6/17984"></script>
    
    
    <div id="containerRoot">
      <div id="head">
        <h3>
            <div id="search" style="position: relative">
                <form id="formSearch">
                    <p>
                        <input style="width: 250px" id="keyword" name="keyword" value="" class="text" autocomplete="off" />
                        <input id="imgSearch" type="image" src="/images/wishes/search.png"
                            class="button" onclick="return false;" />
                    </p>
                    <div style="float: left; width: 240px; text-align: left; margin-left: 58px;">
                        <div style="float: left; width: 90px">
                            <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com/therealDNA1&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;action=like&amp;colorscheme=dark&amp;font&amp;height=21"
                                scrolling="no" frameborder="0" style="border: none; overflow: hidden; width: 100px;
                                height: 21px;" allowtransparency="true"></iframe>
                        </div>
                        <div style="float: left; width: 65px">
                            <a href="https://twitter.com/aradhanfurtado" class="twitter-follow-button" data-show-screen-name="false" data-lang="en" data-show-count="false">&nbsp;</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                    </div>
                </form>
            </div>
        </h3>
        <h1>
            <a href="#" title="ReadComicOnline - High quality comic online"
      class="logo">ReadComicOnline.to</a>
  </h1>
    </div>
    <!-- end div head -->
<div class="clear"></div>
    
    <div id="headnav">
        <div id="navbar">
            <div id="navcontainer">
                <ul>
                    <li id="liHome"><a href="#">Home</a></li>
                    <li id="liDS"><a id="currentTab" href="#">Comic list</a></li>
                    <li id="liReportError"><a href="#">Report Error</a></li>
                    <li id="liRequest"><a href="#">Request Comic</a></li>
                    <li id="liCommunity"><a href="#">Forum</a></li>
                    <li id="li2"><a href="#">Watch cartoon</a></li>
                </ul>
            </div>
        </div>
        <div id="navsubbar">
            <p>
                <a title="Bookmarks, reading type" href="#">Register for MORE options</a>&nbsp;|&nbsp;
                <a href="#">Random comic</a>
            </p>
        </div>
    </div>
    <!-- end div headnav -->
    
    <div id="container">
        <div id="leftside">
          <div class="bigBarContainer">
              <div class="barTitle">
                  Over the Garden Wall: Circus Friends
                  information
              </div>
                <div class="barContent">
                    <div>
                        <a Class="bigChar" href="#">Over the Garden Wall: Circus Friends</a>
                        <p>
                            <span class="info">Genres:</span>&nbsp;<a href="#" class="dotUnder" title=".">Fantasy</a><span class="info">,</span> <a href="#" class="dotUnder" title=".">Movies & TV</a>
                        </p>
                        
                        <p>
                            <span class="info">Publisher:</span>&nbsp;<a href="#" class="dotUnder" title="N/a">BOOM! - KaBOOM!</a>
                        </p>
                        
                        <p>
                            <span class="info">Writer:</span>&nbsp;<a href="#" class="dotUnder" title="N/a">Jonathan Case</a>
                        </p>
                        
                        <p>
                            <span class="info">Artist:</span>&nbsp;<a href="#" class="dotUnder" title="N/a">John P Golden</a>
                        </p>
                        
                        <p>
                            <span class="info">Publication date:</span>&nbsp;October 2 2019
                        </p>
                        
                        <p>
                            <span class="info">Status:</span>&nbsp;Completed
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="info">Views:</span>&nbsp;705&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </p>
                        <p>
                            <span class="info">Summary:</span>
                            <p style="text-align: justify;">It&rsquo;s not all laughter and peanuts for Wirt, Greg, and Beatrice when they stumble upon a circus in the Unknown. What starts as good fun quickly becomes a dangerous situation when the Ringmaster sets his eyes on Beatrice to be his next star attraction. Wirt and Greg must work together with past-his-prime Strongman Frederico and down-in-the-dumps clown Paola to infiltrate the circus and rescue Beatrice. Join Eisner Award-winning writer Jonathan Case (Before Tomorrowland) and newcomer artist John Golden (Boneman) as the Eisner Award-winning Over the Garden Wall&trade; series continues its journey into the Unknown with this all-new original</p>
                        </p>
                    </div>
                </div>
            </div>
            
<div style="text-align: center; overflow: hidden; width: 730px; margin-bottom: 10px;">
    
    <div class="adsbyvli" data-ad-slot="vi_7341979"></div>
    <script>(vitag.Init = window.vitag.Init || []).push(function() { viAPItag.display("vi_7341979") })</script>
</div>

            <div class="bigBarContainer">
                <div class="barTitle">
                    Issues
                </div>
                <div class="barContent episodeList">
                    <div>
                        
<div style="float: left; padding-right: 10px">
    <a target="_blank" href="https://readcomiconline.to/RSS/Comic/Over-the-Garden-Wall-Circus-Friends">
        <img border="0" title="RSS latest episodes of comic" src="../../Content/images/icon_rss.png" /></a>
</div>
&nbsp;
<div style="float: left; max-width: 700px; max-height: 32px; overflow: hidden;">
    <div style="float: left; width: 90px">
        <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Freadcomiconlineweb&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;action=like&amp;colorscheme=dark&amp;font&amp;height=21"
            scrolling="no" frameborder="0" style="border: none; overflow: hidden; width: 90px;
            height: 21px; margin-top: 3px" allowtransparency="true"></iframe>
    </div>
    <span class='st_facebook_hcount' displayText='Facebook'></span>
    <span class='st_googleplus_hcount' displayText='Google +'></span>
    <span class='st_twitter_hcount' displayText='Tweet'></span>
    <span class='st_sharethis_hcount' displayText='ShareThis'></span>
    <script type="text/javascript">        var switchTo5x = true;</script>
    <script type="text/javascript" src="//ws.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">        stLight.options({ publisher: "39da8212-8bbb-4097-a85f-6cedb7bc9464" }); </script>
</div>

                        <div class="clear">
                            &nbsp;</div>
                        
<div style="margin: 0px auto; width: 300px;">
    <div class="adsbyvli" data-ad-slot="vi_7341978"></div>
    <script>(vitag.Init = window.vitag.Init || []).push(function() { viAPItag.display("vi_7341978") })</script>
    
    
</div>

                        <div class="clear">
                            &nbsp;</div>
                        <table class="listing">
                            <tr>
                                <th width="85%">
                                    Issue Name
                                </th>
                                <th width="15%">
                                    Day Added
                                </th>
                            </tr>
                            <tr style="height: 10px">
                            </tr>
                            
                            <tr>
                                <td>
                                    <a  href="/Comic/Over-the-Garden-Wall-Circus-Friends/TPB?id=178529"
                                        title="Read Over the Garden Wall: Circus Friends TPB comic online in high quality">
                                        Over the Garden Wall: Circus Friends TPB</a>
                                </td>
                                <td>
                                    11/30/2020
                                </td>
                            </tr>
                            
                        </table>
                        
                    </div>
                </div>
            </div>
            <div class="clear2">&nbsp;</div>
            <div class="clear2">&nbsp;</div>
            <div class="bigBarContainer">
                <div class="barTitle">
                    Comments
                </div>
                <div class="barContent episodeList">
                    <div>
                        <div id="disqus_thread">
                        </div>
                        <script type="text/javascript">
                            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                            var disqus_shortname = 'readcomiconline'; // required: replace example with your forum shortname
                            var disqus_url = 'https://readcomiconline.to/Comic/Over-the-Garden-Wall-Circus-Friends';
                            var disqus_identifier = 'c' + '22106';

                            /* * * DON'T EDIT BELOW THIS LINE * * */
                            (function() {
                                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                            })();
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <div id="rightside">
            <div class="rightBox">
                <div class="barTitle">
                    Cover</div>
                <div class="barContent">
                    <div style="text-align: center">
                        <img width="190px" height="250px" src="/Uploads/Etc/11-30-2020/87168143071342.jpg" />
                    </div>
                </div>
            </div>
            <div class="clear2">
            </div>
            <div class="rightBox">
                <div class="barTitle">
                    Related Links</div>
                <div class="barContent">
                    
                    <div class="relatedComics">
                    
                        <img src="../../Content/images/bullet.png" />&nbsp;<a href="https://readcomiconline.to/Comic/Over-the-Garden-Wall-2016"><b>Over the Garden Wall (2016)</b></a><div class="clear" style="height:5px"></div>
                    
                        <img src="../../Content/images/bullet.png" />&nbsp;<a href="https://readcomiconline.to/Comic/Over-the-Garden-Wall"><b>Over the Garden Wall (2015)</b></a><div class="clear" style="height:5px"></div>
                    
                        <img src="../../Content/images/bullet.png" />&nbsp;<a href="https://readcomiconline.to/Comic/Over-the-Garden-Wall-Distillatoria"><b>Over the Garden Wall: Distillatoria</b></a><div class="clear" style="height:5px"></div>
                    
                        <img src="../../Content/images/bullet.png" />&nbsp;<a href="https://readcomiconline.to/Comic/Over-the-Garden-Wall-Soulful-Symphonies"><b>Over the Garden Wall: Soulful Symphonies</b></a><div class="clear" style="height:5px"></div>
                    
                        <img src="../../Content/images/bullet.png" />&nbsp;<a href="https://readcomiconline.to/Comic/Over-the-Garden-Wall-Hollow-Town"><b>Over the Garden Wall: Hollow Town</b></a><div class="clear" style="height:5px"></div>
                    
                    </div>
                    
                    <div>
                        
                    </div>
                </div>
            </div>
            <div class="clear2">
            </div>
            <div>
                
    
    <div class="adsbyvli" data-ad-slot="vi_7342001"></div>
    <script>(vitag.Init = window.vitag.Init || []).push(function() { viAPItag.display("vi_7342001") })</script>

            </div>
        </div>
    </div>
    <div style="height: 30px" class="clear">
        &nbsp;</div>

        <!-- end div container -->
        <div class="clear">
            &nbsp;</div>
        <div class="clear">
            &nbsp;</div>
        <div class="clear">
            &nbsp;</div>
        


<div style="position: fixed; top: 0px; left: 0px; z-index: 100; width: 100%; height: 768px; overflow: hidden; visibility: hidden;">
    <div style="position: absolute; left: 50%; margin-left: -660px; margin-right: 0px; visibility: visible;">
        <div class="adsbyvli" data-ad-slot="vi_7341980"></div>
        <script>(vitag.Init = window.vitag.Init || []).push(function() { viAPItag.display("vi_7341980") })</script>    
    </div>
    <div style="position: absolute; left: 50%; margin-left: 500px; margin-right: 0px; visibility: visible;">
        <div class="adsbyvli" data-ad-slot="vi_7342000"></div>
        <script>(vitag.Init = window.vitag.Init || []).push(function() { viAPItag.display("vi_7342000") })</script>
    </div>
</div>

    </div>
    






<script async src="//video.your-notice.com/html_102137.js" defer charset="UTF-8" ></script>


<script data-cfasync="false" type="text/javascript" src="https://www.predictivdisplay.com/a/display.php?r=2683563"></script>





    <div id="footer">
        <div id="footcontainer" style="position: relative">
            <p>
                From 2015 <a href="/">ReadComicOnline.to</a>. Copyrights and trademarks
                for the comic, and other promotional materials are held by their respective owners
                and their use is allowed under the fair use clause of the Copyright Law.
                

<a href="/Message/PrivacyPolicy">Privacy Policy</a>&nbsp;|&nbsp;<a href="/Message/DMCA">DMCA</a>&nbsp;|&nbsp;<a target="_blank" href="https://m.me/readcomiconline">Contact us</a>&nbsp;&nbsp;</p>
        </div>
    </div>
    <script type="text/javascript">
        $('#footer').css('top', $(document).height() - $('#containerRoot').height());
    </script>
    <style> #__vliadb83{ display: none; position: fixed; background: rgb(221, 221, 221); z-index: 9999999; opacity: 1; visibility: visible; top: 100px; right: 0px; left: 0px; max-width: 640px; margin-right: auto; margin-left: auto; box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 5px 2px; font-family: Arial, Helvetica, sans-serif; } #__vliadb83 .__vliadb83-content{ padding: 30px 30px 15px; color: #626262; } #__vliadb83 .__vliadb83-content a { color: #EA2A5E; } #__vliadb83 #__vliadb83-cls{ display: inline-block; position: absolute; top: 15px; right: 15px; width: 30px; height: 30px; color: #bbb; font-size: 32px; font-weight: 700; line-height: 30px; text-align: center; cursor: pointer; -webkit-transition: 0.3s; transition: 0.3s; } #__vliadb83 #__vliadb83-cls:hover{color: #5f5e5e;} #__vliadb83-bg{ display: none; position: fixed; z-index: 999999; background: rgba(0, 0, 0, 0.8); top: 0px; left: 0px; width: 100%; height: 100%;} </style> <div id="__vliadb83"> <div class="__vliadb83-content"> <h1 style="margin-bottom: 15px; padding: 0 30px; color: #252b37; font-size: 28px; line-height: 1.25; text-align: center;">Adblocker detected! Please consider reading this notice.</h1><p>We've detected that you are using AdBlock Plus or some other adblocking software which is preventing the page from fully loading.</p><p>We don't have any banner, Flash, animation, obnoxious sound, or popup ad. We do not implement these annoying types of ads!</p><p>We need money to operate the site, and almost all of it comes from our online advertising.</p><p> <strong> Please add <a href="http://yourdomain.com" target="_blank" rel="noopener"> readcomiconline.to</a>&nbsp;to your ad blocking whitelist or disable your adblocking software.</strong></p> </div> <a id="__vliadb83-cls">×</a> </div> <div id="__vliadb83-bg"></div> <script src="//cdn.jsdelivr.net/gh/vli-platform/adb-analytics@a6f3a45/v1.0.min.js"></script> <script>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        (function() { (window.adblockDetector = window.adblockDetector || []).push(function() { window.adbDetector.init({ id: 'e3e09e6b5c1c6f8fce95004450468f13', debug: true, cookieExpire: 10, found: function() { window.adbDetector.alert({ hiddenCloseButton: false, clickBackgroundToClose: false }); } }); }) } ()); </script>
</body>
</html>
