<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        ReadComicOnline - Read comics online in high quality
    </title>
    
    <link rel="stylesheet" href="css/wishes.css">
    <link rel="shortcut icon" href="/images/wishes/favicon.ico" type="image/x-icon" />
</head>
<body>    
  	<div id="containerRoot">
        <div id="head">
            <h3>
                <div id="search" style="position: relative">
                    <form id="formSearch">
                        <p>
                            <input style="width: 250px" id="keyword" name="keyword" value="" class="text" autocomplete="off" />
                            <input id="imgSearch" type="image" src="/images/wishes/search.png"
                                class="button" onclick="return false;" />
                        </p>
                        <div style="float: left; width: 240px; text-align: left; margin-left: 58px;">
                            <div style="float: left; width: 90px">
                                <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com/therealDNA1&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;action=like&amp;colorscheme=dark&amp;font&amp;height=21"
                                    scrolling="no" frameborder="0" style="border: none; overflow: hidden; width: 100px;
                                    height: 21px;" allowtransparency="true"></iframe>
                            </div>
                            <div style="float: left; width: 65px">
                                <a href="https://twitter.com/aradhanfurtado" class="twitter-follow-button" data-show-screen-name="false" data-lang="en" data-show-count="false">&nbsp;</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </div>
                        </div>
                    </form>
                </div>
            </h3>
            <h1>
                <a href="#" title="ReadComicOnline - High quality comic online"
					class="logo">ReadComicOnline.to</a>
			</h1>
        </div>
        <!-- end div head -->
		<div class="clear"></div>
				
        <div id="headnav">
            <div id="navbar">
                <div id="navcontainer">
                    <ul>
                        <li id="liHome"><a href="#">Home</a></li>
                        <li id="liDS"><a href="#">Comic list</a></li>
                        <li id="liReportError"><a href="#">Report Error</a></li>
                        <li id="liRequest"><a href="#">Request Comic</a></li>
                        <li id="liCommunity"><a href="#">Forum</a></li>
                        <li id="li2"><a href="#">Watch cartoon</a></li>
                    </ul>
                </div>
            </div>
            <div id="navsubbar">
                <p>
                    <a title="Bookmarks, reading type" href="#">Register for MORE options</a>&nbsp;|&nbsp;
                    <a href="#">Random comic</a>
                </p>
            </div>
        </div>
        <!-- end div headnav -->
        
    <div id="container">
        <div id="leftside">
            <div class="clear"></div>
            <div class="banner">
                <!-- Random Comic -->
                <div class="details">
                    <a target="_blank" href="https://readcomiconline.to/Comic/Batman-A-Death-in-the-Family">
                        <img width="150px" height="195px" src="https://readcomiconline.to/Uploads/Etc/5-2-2016/43630225.jpg" />
                    </a>
                    <div style="float: left; width: 540px">
                        <a Class="bigChar" target="_blank" href="https://readcomiconline.to/Comic/Batman-A-Death-in-the-Family">Batman: A Death in the Family</a>
                        <p>
                            <span class="info">Genres:</span>&nbsp;<a href="#" class="dotUnder" title=".">Action</a><span class="info">,</span> <a href="#" class="dotUnder" title=".">Adventure</a><span class="info">,</span> <a href="#" class="dotUnder" title=".">Fantasy</a><span class="info">,</span> <a href="#" class="dotUnder" title=".">Superhero</a>
                        </p>
                        <p>
                            Jason Todd, the second Robin, has gone missing in search of his birth mother. Forced to ignore the growing threat of the Joker, Batman must track down his missing apprentice and help him before it all ...
                        </p>
                    </div>
                </div>
                <!-- end Random Comic -->
            </div>

            <div class="clear2"></div>
            <div class="bigBarContainer">
                <div class="barTitle">
                    <div class="scrollable_title">
                        Latest update
                    </div>
                    <div id="recently-nav">
                        <a class="prev"></a>
                        <div class="navi">
                            Page 1
                        </div>
                        <a class="next"></a>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="barContent">
                    <div class="scrollable">
                        <div class="items">
                            <div>
                                <a target="_blank" href="https://readcomiconline.to/Comic/Flashpoint" title="Issue #5"><img width='130px' height='150px' src="https://2.bp.blogspot.com/-j4tJfrtHfcg/VsrMgVQxi5I/AAAAAAAAB5U/JAAC4pDFvsI/s1600-Ic42/6.jpeg" /><br />Flashpoint (2011)<br /><span class='textDark'>Issue #5</span></a>&nbsp;&nbsp;&nbsp;
                                <a target="_blank" href="https://readcomiconline.to/Comic/Crisis-on-Infinite-Earths-1985" title="Issue #12"><img width='130px' height='150px' src="https://readcomiconline.to/Uploads/Etc/4-8-2016/7895032837Untitled-10.jpg" /><br />Crisis on Infinite Earths (1985)<br /><span class='textDark'>Issue #12</span></a>&nbsp;&nbsp;&nbsp;
                                <a target="_blank" href="https://readcomiconline.to/Comic/Batman-The-Killing-Joke" title="Full"><img width='130px' height='150px' src="https://2.bp.blogspot.com/-EYx4gB4mH0o/Vs0QF_yZQHI/AAAAAAAAB98/vX_9_htQ-p0/s1600-Ic42/2.jpg" /><br />Batman: The Killing Joke<br /><span class='textDark'>Full</span></a>&nbsp;&nbsp;&nbsp;
                                <a target="_blank" href="https://readcomiconline.to/Comic/Batman-Hush" title="Issue #12"><img width='130px' height='150px' src="https://readcomiconline.to/Uploads/Etc/5-2-2016/2646391hush.jpg" /><br />Batman: Hush<br /><span class='textDark'>Issue #12</span></a>&nbsp;&nbsp;&nbsp;
                                <a target="_blank" href="https://readcomiconline.to/Comic/Batman-Year-One" title="Issue #4"><img width='130px' height='150px' src="https://readcomiconline.to/Uploads/Etc/5-6-2016/59173923.jpg" /><br />Batman: Year One<br /><span class='textDark'>Issue #4</span></a>&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                        <div class="clear">
                        </div>
                    </div>
                </div>
            </div>

            <div class="clear2"></div>
            <div class="clear2"></div>

            <div id="submenu">
                <div id="tabmenucontainer">
                    <ul>
                        <li><a href="#" id="liNewesttab" title="New comic" onclick="showTabData('newest')"
                            class="tabactive">New comic</a></li>
                        <li><a href="#" id="liTopDayTab" title="Top day" onclick="showTabData('topday')">
                            Top day</a></li>
                        <li><a href="#" id="liTopWeekTab" title="Top week" onclick="showTabData('topweek')">
                            Top week</a></li>
                        <li><a href="#" id="liTopMonthTab" title="Top month" onclick="showTabData('topmonth')">
                            Top month</a></li>
                        <li><a href="#" id="liMostViewtab" title="Most popular" onclick="showTabData('mostview')">
                            Most popular</a></li>
                    </ul>
                </div>
                <!-- end div tab menu container -->

                <div class="clear"></div>
                <div id="subcontent">
                    <div class="clear2"></div>
                    <div class="clear2"></div>
                    
                    <!-- TODO -->
                    <div id="tab-newest">
                        <div style="position: relative;">
                            <a href="Comic/Blade-of-Shuriken"><img width="177.632px" height="100px" src="https://c4.wallpaperflare.com/wallpaper/500/442/354/outrun-vaporwave-hd-wallpaper-preview.jpg" /></a><a class="title" href="Comic/Blade-of-Shuriken"><span>Blade of Shuriken</span></a>
                            <p><span class="info">Genres:</span>&nbsp;<a href="/Genre/Fantasy" class="dotUnder" title=".">Fantasy</a></p>
                            <p><span class="info">Latest:</span>&nbsp;<a href="/Comic/Blade-of-Shuriken/Issue-5?id=178210" title="Watch Blade of Shuriken Issue #5 online">Issue #5</a></p>
                        </div>
                        <div style="position: relative;" class="blue">
                            <a href="Comic/The-Big-Feminist-BUT-Comics-About-Women"><img width="80px" height="100px" src="/Uploads/Etc/11-21-2020/83008943071302.jpg" /></a>
                            <a class="title" href="Comic/The-Big-Feminist-BUT-Comics-About-Women"><span>The Big Feminist BUT: Comics About Women</span></a>
                            <p>
                                <span class="info">Genres:</span>&nbsp;<a href="/Genre/Anthology" class="dotUnder" title=".">Anthology</a><span class="info">,</span> <a href="/Genre/Graphic-Novels" class="dotUnder" title=".">Graphic Novels</a>
                                <span class="info">,</span> <a href="/Genre/Leading-Ladies" class="dotUnder" title=".">Leading Ladies</a><span class="info">,</span> <a href="/Genre/LGBTQ" class="dotUnder" title=".">LGBTQ</a><span class="info">,</span>
                                <a href="/Genre/Mature" class="dotUnder" title=".">Mature</a><span class="info">,</span> <a href="/Genre/Slice-of-Life" class="dotUnder" title=".">Slice of Life</a>
                            </p>
                            <p><span class="info">Latest:</span>&nbsp;<a href="/Comic/The-Big-Feminist-BUT-Comics-About-Women/TPB-Part-2?id=178205" title="Watch The Big Feminist BUT: Comics About Women TPB (Part 2) online">TPB (Part 2)</a></p>
                        </div>
                        <div style="position: relative;">
                            <a href="Comic/All-New-Steve-Ditko-s-176-Page-Package-Heroes"><img width="80px" height="100px" src="/Uploads/Etc/11-21-2020/26163743071301.jpg" /></a>
                            <a class="title" href="Comic/All-New-Steve-Ditko-s-176-Page-Package-Heroes"><span>All New Steve Ditko's 176 Page Package: Heroes</span></a>
                            <p>
                                <span class="info">Genres:</span>&nbsp;<a href="/Genre/Action" class="dotUnder" title=".">Action</a><span class="info">,</span> <a href="/Genre/Adventure" class="dotUnder" title=".">Adventure</a><span class="info">,</span>
                                <a href="/Genre/Superhero" class="dotUnder" title=".">Superhero</a>
                            </p>
                            <p><span class="info">Latest:</span>&nbsp;<a href="/Comic/All-New-Steve-Ditko-s-176-Page-Package-Heroes/TPB-Part-2?id=178203" title="Watch All New Steve Ditko&#39;s 176 Page Package: Heroes TPB (Part 2) online">TPB (Part 2)</a></p>
                        </div>
                        <div style="position: relative;" class="blue">
                            <a href="Comic/Billy-The-Marlin"><img width="80px" height="100px" src="/Uploads/Etc/11-21-2020/48807343071300.jpg" /></a><a class="title" href="Comic/Billy-The-Marlin"><span>Billy The Marlin</span></a>
                            <p>
                                <span class="info">Genres:</span>&nbsp;<a href="/Genre/Anthropomorphic" class="dotUnder" title=".">Anthropomorphic</a><span class="info">,</span> <a href="/Genre/Children" class="dotUnder" title=".">Children</a>
                                <span class="info">,</span> <a href="/Genre/Superhero" class="dotUnder" title=".">Superhero</a><span class="info">,</span> <a href="/Genre/Action" class="dotUnder" title=".">Action</a><span class="info">,</span>
                                <a href="/Genre/Adventure" class="dotUnder" title=".">Adventure</a>
                            </p>
                            <p><span class="info">Latest:</span>&nbsp;<a href="/Comic/Billy-The-Marlin/Full?id=178201" title="Watch Billy The Marlin Full online">Full</a></p>
                        </div>
                        <div style="position: relative;">
                            <a href="Comic/Warren-Ellis-Bad-Signal"><img width="80px" height="100px" src="/Uploads/Etc/11-21-2020/32414043071299.jpg" /></a><a class="title" href="Comic/Warren-Ellis-Bad-Signal"><span>Warren Ellis' Bad Signal</span></a>
                            <p><span class="info">Genres:</span>&nbsp;<a href="/Genre/Sci-Fi" class="dotUnder" title=".">Sci-Fi</a></p>
                            <p><span class="info">Latest:</span>&nbsp;<a href="/Comic/Warren-Ellis-Bad-Signal/Issue-2?id=178200" title="Watch Warren Ellis&#39; Bad Signal Issue #2 online">Issue #2</a></p>
                        </div>
                        <div style="position: relative;" class="blue">
                            <a href="Comic/Marvel-Encyclopedia-New-Edition"><img width="80px" height="100px" src="/Uploads/Etc/11-21-2020/6594443071298.jpg" /></a>
                            <a class="title" href="Comic/Marvel-Encyclopedia-New-Edition"><span>Marvel Encyclopedia, New Edition</span></a>
                            <p>
                                <span class="info">Genres:</span>&nbsp;<a href="/Genre/Superhero" class="dotUnder" title=".">Superhero</a><span class="info">,</span> <a href="/Genre/Action" class="dotUnder" title=".">Action</a><span class="info">,</span>
                                <a href="/Genre/Adventure" class="dotUnder" title=".">Adventure</a>
                            </p>
                            <p><span class="info">Latest:</span>&nbsp;<a href="/Comic/Marvel-Encyclopedia-New-Edition/TPB-Part-5?id=178190" title="Watch Marvel Encyclopedia, New Edition TPB (Part 5) online">TPB (Part 5)</a></p>
                        </div>
                        <div style="position: relative;">
                            <a href="Comic/Grandville-Bete-Noire"><img width="80px" height="100px" src="/Uploads/Etc/11-21-2020/87830543071297.jpg" /></a><a class="title" href="Comic/Grandville-Bete-Noire"><span>Grandville Bête Noire</span></a>
                            <p>
                                <span class="info">Genres:</span>&nbsp;<a href="/Genre/Action" class="dotUnder" title=".">Action</a><span class="info">,</span> <a href="/Genre/Adventure" class="dotUnder" title=".">Adventure</a><span class="info">,</span>
                                <a href="/Genre/Crime" class="dotUnder" title=".">Crime</a><span class="info">,</span> <a href="/Genre/Literature" class="dotUnder" title=".">Literature</a>
                            </p>
                            <p><span class="info">Latest:</span>&nbsp;<a href="/Comic/Grandville-Bete-Noire/TPB?id=178185" title="Watch Grandville B&#234;te Noire TPB online">TPB</a></p>
                        </div>
                        <div style="position: relative;" class="blue">
                            <a href="Comic/Cannibal-Romance"><img width="80px" height="100px" src="/Uploads/Etc/11-20-2020/23029943071296.jpg" /></a><a class="title" href="Comic/Cannibal-Romance"><span>Cannibal Romance</span></a>
                            <p><span class="info">Genres:</span>&nbsp;<a href="/Genre/Horror" class="dotUnder" title=".">Horror</a><span class="info">,</span> <a href="/Genre/Suspense" class="dotUnder" title=".">Suspense</a></p>
                            <p><span class="info">Latest:</span>&nbsp;<a href="/Comic/Cannibal-Romance/Full?id=178178" title="Watch Cannibal Romance Full online">Full</a></p>
                        </div>
                        <div style="position: relative;">
                            <a href="Comic/Greaser-Comics"><img width="80px" height="100px" src="/Uploads/Etc/11-20-2020/31929843071295.jpg" /></a><a class="title" href="Comic/Greaser-Comics"><span>Greaser Comics</span></a>
                            <p><span class="info">Genres:</span>&nbsp;<a href="/Genre/Fantasy" class="dotUnder" title=".">Fantasy</a></p>
                            <p><span class="info">Latest:</span>&nbsp;<a href="/Comic/Greaser-Comics/Issue-2?id=178177" title="Watch Greaser Comics Issue #2 online">Issue #2</a></p>
                        </div>
                        <div style="position: relative;" class="blue">
                            <a href="Comic/Star-Fighters"><img width="80px" height="100px" src="/Uploads/Etc/11-19-2020/90241943071294.jpg" /></a><a class="title" href="Comic/Star-Fighters"><span>Star Fighters</span></a>
                            <p><span class="info">Genres:</span>&nbsp;<a href="/Genre/Sci-Fi" class="dotUnder" title=".">Sci-Fi</a></p>
                            <p><span class="info">Latest:</span>&nbsp;<a href="/Comic/Star-Fighters/Issue-5?id=178173" title="Watch Star Fighters Issue #5 online">Issue #5</a></p>
                        </div>
                    </div>
                    
                    <div class="clear"></div>
                </div>
                <!-- end div subcontent -->
            </div>
            <!-- end div submenu -->
        </div>
        <!-- end div leftside -->

        <div id="rightside">
            <div class="rightBox">
                <div class="barTitle">Announcement</div>
                <div class="barContent">
                    <span style="font-weight: bold; color: #fff;">
                        Placeholder
                    </span>
                </div>
            </div>

            <div class="clear2"></div>
        </div>

        <div class="clear"></div>
    </div>
    <!-- end div container -->

    <div class="clear">&nbsp;</div>
    <div class="clear">&nbsp;</div>
    <div class="clear">&nbsp;</div>

    <div id="footer">
        <div id="footcontainer" style="position: relative">
            <p>
                From 2020 <a href="#">Placeholder Website Name</a>. Copyrights and trademarks
                for the comic, and other promotional materials are held by their respective owners
                and their use is allowed under the fair use clause of the Copyright Law.
                <a href="#">Privacy Policy</a>&nbsp;|&nbsp;<a href="#">DMCA</a>&nbsp;|&nbsp;<a href="#">Contact us</a>&nbsp;&nbsp;
            </p>
        </div>
    </div>
    <style> #__vliadb83{ display: none; position: fixed; background: rgb(221, 221, 221); z-index: 9999999; opacity: 1; visibility: visible; top: 100px; right: 0px; left: 0px; max-width: 640px; margin-right: auto; margin-left: auto; box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 5px 2px; font-family: Arial, Helvetica, sans-serif; } #__vliadb83 .__vliadb83-content{ padding: 30px 30px 15px; color: #626262; } #__vliadb83 .__vliadb83-content a { color: #EA2A5E; } #__vliadb83 #__vliadb83-cls{ display: inline-block; position: absolute; top: 15px; right: 15px; width: 30px; height: 30px; color: #bbb; font-size: 32px; font-weight: 700; line-height: 30px; text-align: center; cursor: pointer; -webkit-transition: 0.3s; transition: 0.3s; } #__vliadb83 #__vliadb83-cls:hover{color: #5f5e5e;} #__vliadb83-bg{ display: none; position: fixed; z-index: 999999; background: rgba(0, 0, 0, 0.8); top: 0px; left: 0px; width: 100%; height: 100%;} </style> <div id="__vliadb83"> <div class="__vliadb83-content"> <h1 style="margin-bottom: 15px; padding: 0 30px; color: #252b37; font-size: 28px; line-height: 1.25; text-align: center;">Adblocker detected! Please consider reading this notice.</h1><p>We've detected that you are using AdBlock Plus or some other adblocking software which is preventing the page from fully loading.</p><p>We don't have any banner, Flash, animation, obnoxious sound, or popup ad. We do not implement these annoying types of ads!</p><p>We need money to operate the site, and almost all of it comes from our online advertising.</p><p> <strong> Please add <a href="http://yourdomain.com" target="_blank" rel="noopener"> readcomiconline.to</a>&nbsp;to your ad blocking whitelist or disable your adblocking software.</strong></p> </div> <a id="__vliadb83-cls">×</a> </div> <div id="__vliadb83-bg"></div> <script src="//cdn.jsdelivr.net/gh/vli-platform/adb-analytics@a6f3a45/v1.0.min.js"></script> <script>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        (function() { (window.adblockDetector = window.adblockDetector || []).push(function() { window.adbDetector.init({ id: 'e3e09e6b5c1c6f8fce95004450468f13', debug: true, cookieExpire: 10, found: function() { window.adbDetector.alert({ hiddenCloseButton: false, clickBackgroundToClose: false }); } }); }) } ()); </script>
</body>
</html>